@use "variables" as *;
@use "mixins" as *;
@use "inheritance" as *;

//* Section
.section.dx-sidebar {
  &--closed {
    margin-left: $sidebar-close-width;
  }
}

//* Sidebar
.dx-sidebar {
  @include sidebar-base();
}
.dx-sidebar {
  &.dx-sidebar--closed {
    width: $sidebar-close-width;
    * {
      opacity: 0;
      transition: opacity $sidebar-transition;
    }
  }
}
#openBtn {
}

.dx-nav-link {
  color: $abu-abu-terang;
  font-size: 0.8rem;
  display: flex;
  -webkit-box-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
  &.active,
  &:hover {
    color: $active-hover-text-color;
    background-color: $active-hover-bg-color;
    text-decoration: none;
  }
}
.dx-nav-icon {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  &::before {
    font-size: 22px;
  }
}

.dx-icon-rotate {
  transform: rotate(180deg);
}

//* Logo
.dx-logo {
  width: 120px;
}

//* Content
.dx-content-wrap {
  color: $abu-abu;
  padding: 30px 0px 0px;
}

//* Notice
.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  .dx-notice-icon {
    right: 1.25rem;
    position: absolute;
    top: -1.25rem;
    right: 2.5rem;
    max-width: 10rem;
    width: 100%;
    height: auto;
  }
}

.dx-notice-text {
  padding-left: 15px;
  padding-right: 15px;
  --padding-right: calc(10rem + 3rem);
}

// Warna notif
@each $name, $value in $color-notif {
  // Kelas notif
  .dx-notice-#{$name} {
    .dx-notice-title {
      color: $value;
    }
  }
}

// Logo image
.dx-img-ht {
  width: 120px;
}

//* Breakpoint ukuran HP dan Tablet
// Sidebar
@include respond-to(md, max) {
  .dx-notice {
    .dx-notice-icon {
      right: 1.25rem !important;
      max-width: 5.725rem !important;
    }
    .dx-notice-body {
      font-size: 14px;
      line-height: 22px;
    }
    .dx-notice-title {
      font-style: 1rem;
    }
  }
}

.dx-sidebar-ht {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -10px 10px;
}
.dx-nav-link-ht {
  color: $abu-abu-text;
  font-size: 0.8rem;
  &.active,
  &:hover {
    background-color: transparent;
    color: $biru-muda;
    text-decoration: none;
  }
}
.dx-nav-link-ht > .bi {
  display: block;
  margin: 0px auto 5px;
}
.dx-nav-icon-ht {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  &::before {
    font-size: 22px;
  }
}

@include respond-to(md, min) {
  .dx-sidebar {
    display: block !important;
  }
  .md\:dx-logo-img {
    display: none;
  }

  .md\:dx-block {
    display: block;
  }

  .md\:dx-hidden {
    display: none;
  }

  .md\:dx-flex-row {
    flex-direction: row;
  }

  .md\:dx-flex-1 {
    flex: 1 1 0%;
  }
  // Ukuran Hp dan Tablet
  .dx-sidebar-ht {
    display: none;
  }
}
