@use "variables" as *;

//* Button
%btn-base {
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9rem;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0 1rem;
  min-width: 100px;
  min-height: 30px;
  border-radius: 0.25rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  min-height: 35px;
}

//* Align / Meluruskan Teks
%align-center-base {
  text-align: center;
}

%align-right-base {
  text-align: right;
}

%align-left-base {
  text-align: left;
}

%align-justify-base {
  text-align: justify;
}
